In [94]:
import redshift_connector
import boto3
import time 
import pandas as pd
from io import StringIO

In [95]:
# connect to aws and s3
AWS_ACCESS_KEY = "AKIASGGS7UAD45MURE53"
AWS_SECRET_KEY = "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"
AWS_REGION = "ap-south-1"
SCHEMA_NAME = "covid-19"
S3_STAGING_DIR = "s3://bdms-project-output/output/"
S3_BUCKET_NAME = "bdms-project-output"
S3_OUTPUT_DIRECTORY = "output"

In [96]:
# connect to athena
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [4]:
# my_session = boto3.session.Session()
# my_region = my_session.region_name

In [5]:
# Basically this function do is to takes the boto3 object,
# run some queries on athena and store the output in s3

Dict = {}


def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            # This function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_result.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [6]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [7]:
response

{'QueryExecutionId': '5798ed06-a826-4a95-9459-9911c5fe3088',
 'ResponseMetadata': {'RequestId': '6dddf9ef-ed19-4582-ad13-8e2df933fda5',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 08 Jan 2023 05:18:07 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '6dddf9ef-ed19-4582-ad13-8e2df933fda5'},
  'RetryAttempts': 0}}

In [9]:
enigma_jhud = download_and_load_query_results(athena_client, response)
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui"
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing"
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing"
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian"
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu"

In [10]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_states_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [11]:
response

{'QueryExecutionId': '6b83e705-233e-49ea-8c2e-563224605537',
 'ResponseMetadata': {'RequestId': '5420f539-13ab-4231-8283-5cb39232e56d',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 08 Jan 2023 05:20:46 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '5420f539-13ab-4231-8283-5cb39232e56d'},
  'RetryAttempts': 0}}

In [12]:
covid_19_testing_data_states_daily = download_and_load_query_results(athena_client, response)
covid_19_testing_data_states_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

In [13]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_total_latest",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [14]:
response

{'QueryExecutionId': '4a1761c3-0ded-44b1-a17d-4d924ffe2937',
 'ResponseMetadata': {'RequestId': '5df8f264-706e-47b7-987f-6c607550c1ce',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 08 Jan 2023 05:21:00 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '5df8f264-706e-47b7-987f-6c607550c1ce'},
  'RetryAttempts': 0}}

In [15]:
covid_19_testing_data_us_total_latest = download_and_load_query_results(athena_client, response)
covid_19_testing_data_us_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [16]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [17]:
response

{'QueryExecutionId': '461929a4-bc0d-4ef5-84ed-66c804686889',
 'ResponseMetadata': {'RequestId': '6bd0509d-c1de-45aa-80db-891ddf6bf703',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 08 Jan 2023 05:21:02 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '6bd0509d-c1de-45aa-80db-891ddf6bf703'},
  'RetryAttempts': 0}}

In [18]:
covid_19_testing_data_us_daily = download_and_load_query_results(athena_client, response)
covid_19_testing_data_us_daily.head()

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

In [19]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_county",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [20]:
response

{'QueryExecutionId': 'c6aac91a-6e6f-44b4-8fe2-7fd41fa45662',
 'ResponseMetadata': {'RequestId': 'a85ddd87-aa2c-4da6-908f-9e6fe2e4708a',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 08 Jan 2023 05:21:07 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'a85ddd87-aa2c-4da6-908f-9e6fe2e4708a'},
  'RetryAttempts': 0}}

In [21]:
nytimes_data_in_usa_us_county = download_and_load_query_results(athena_client, response)
nytimes_data_in_usa_us_county.head()

         date          county     state     fips  cases  deaths
0  2020-03-22     St. Charles  Missouri  29183.0    3.0     0.0
1  2020-03-22       St. Louis  Missouri  29189.0   55.0     1.0
2  2020-03-22  St. Louis city  Missouri  29510.0   14.0     0.0
3  2020-03-22         Unknown  Missouri      NaN    1.0     0.0
4  2020-03-22      Broadwater   Montana  30007.0    1.0     0.0

In [22]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_states",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [23]:
response

{'QueryExecutionId': '41f605ed-75bf-4d9c-aa4a-8e7d6c22e0ac',
 'ResponseMetadata': {'RequestId': 'b4947f0b-4eee-4253-8a68-2620846144fb',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 08 Jan 2023 05:21:10 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'b4947f0b-4eee-4253-8a68-2620846144fb'},
  'RetryAttempts': 0}}

In [24]:
nytimes_data_in_usa_us_states = download_and_load_query_results(athena_client, response)
nytimes_data_in_usa_us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [25]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_data_countrycode",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [26]:
response

{'QueryExecutionId': '9cd2b766-6fe7-4c50-8cb6-24ce449edf0f',
 'ResponseMetadata': {'RequestId': 'fb799e84-c9c8-4259-9ee3-c1d08bfd9dc4',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 08 Jan 2023 05:21:13 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'fb799e84-c9c8-4259-9ee3-c1d08bfd9dc4'},
  'RetryAttempts': 0}}

In [27]:
static_data_countrycode = download_and_load_query_results(athena_client, response)
static_data_countrycode

,country,alpha-2 code,alpha-3 code,numeric code,latitude,longitude
0,Afghanistan,AF,AFG,4.0,33.0000,65.0
1,Albania,AL,ALB,8.0,41.0000,20.0
2,Algeria,DZ,DZA,12.0,28.0000,3.0
3,American Samoa,AS,ASM,16.0,-14.3333,-170.0
4,Andorra,AD,AND,20.0,42.5000,1.6
...,...,...,...,...,...,...
251,Wallis and Futuna,WF,WLF,876.0,-13.3000,-176.2
252,Western Sahara,EH,ESH,732.0,24.5000,-13.0
253,Yemen,YE,YEM,887.0,15.0000,48.0
254,Zambia,ZM,ZMB,894.0,-15.0000,30.0
255,Zimbabwe,ZW,ZWE,716.0,-20.0000,30.0

In [28]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_data_countypopulation",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [29]:
response

{'QueryExecutionId': '266b78d8-70fc-4040-8f09-47d14c3e98c7',
 'ResponseMetadata': {'RequestId': '8c42eb0d-e467-4e9a-86ab-825e566ed893',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 08 Jan 2023 05:21:14 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '8c42eb0d-e467-4e9a-86ab-825e566ed893'},
  'RetryAttempts': 0}}

In [30]:
static_data_countypopulation = download_and_load_query_results(athena_client, response)
static_data_countypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [31]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_data_state_abv",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [32]:
response

{'QueryExecutionId': '796ab185-4e71-41ae-a680-6fe892eed026',
 'ResponseMetadata': {'RequestId': '80cdce4c-e88f-4bc6-a715-ab55b64d1b5c',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 08 Jan 2023 05:21:16 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '80cdce4c-e88f-4bc6-a715-ab55b64d1b5c'},
  'RetryAttempts': 0}}

In [33]:
static_data_state_abv = download_and_load_query_results(athena_client, response)
static_data_state_abv

                    col0          col1
0                  State  Abbreviation
1                Alabama            AL
2                 Alaska            AK
3                Arizona            AZ
4               Arkansas            AR
5             California            CA
6               Colorado            CO
7            Connecticut            CT
8               Delaware            DE
9   District of Columbia            DC
10               Florida            FL
11               Georgia            GA
12                Hawaii            HI
13                 Idaho            ID
14              Illinois            IL
15               Indiana            IN
16                  Iowa            IA
17                Kansas            KS
18              Kentucky            KY
19             Louisiana            LA
20                 Maine            ME
21               Montana            MT
22              Nebraska            NE
23                Nevada            NV
24         New Hampshire            NH
25            New Jersey            NJ
26            New Mexico            NM
27              New York            NY
28        North Carolina            NC
29          North Dakota            ND
30                  Ohio            OH
31              Oklahoma            OK
32                Oregon            OR
33              Maryland            MD
34         Massachusetts            MA
35              Michigan            MI
36             Minnesota            MN
37           Mississippi            MS
38              Missouri            MO
39          Pennsylvania            PA
40          Rhode Island            RI
41        South Carolina            SC
42          South Dakota            SD
43             Tennessee            TN
44                 Texas            TX
45                  Utah            UT
46               Vermont            VT
47              Virginia            VA
48            Washington            WA
49         West Virginia            WV
50             Wisconsin            WI
51               Wyoming            WY

In [34]:
# grab the first role of the ender
new_header = static_data_state_abv.iloc[0]
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [35]:
# takes the data below the data header row
static_data_state_abv = static_data_state_abv[1:]

In [36]:
# Set the header row as the df header.
static_data_state_abv.columns = [new_header]
static_data_state_abv

0                  State Abbreviation
1                Alabama           AL
2                 Alaska           AK
3                Arizona           AZ
4               Arkansas           AR
5             California           CA
6               Colorado           CO
7            Connecticut           CT
8               Delaware           DE
9   District of Columbia           DC
10               Florida           FL
11               Georgia           GA
12                Hawaii           HI
13                 Idaho           ID
14              Illinois           IL
15               Indiana           IN
16                  Iowa           IA
17                Kansas           KS
18              Kentucky           KY
19             Louisiana           LA
20                 Maine           ME
21               Montana           MT
22              Nebraska           NE
23                Nevada           NV
24         New Hampshire           NH
25            New Jersey           NJ
26            New Mexico           NM
27              New York           NY
28        North Carolina           NC
29          North Dakota           ND
30                  Ohio           OH
31              Oklahoma           OK
32                Oregon           OR
33              Maryland           MD
34         Massachusetts           MA
35              Michigan           MI
36             Minnesota           MN
37           Mississippi           MS
38              Missouri           MO
39          Pennsylvania           PA
40          Rhode Island           RI
41        South Carolina           SC
42          South Dakota           SD
43             Tennessee           TN
44                 Texas           TX
45                  Utah           UT
46               Vermont           VT
47              Virginia           VA
48            Washington           WA
49         West Virginia           WV
50             Wisconsin           WI
51               Wyoming           WY

In [37]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"}
    },
)

In [38]:
response

{'QueryExecutionId': 'fb39f3ee-2244-4a1b-8f4e-aeaa9ae41820',
 'ResponseMetadata': {'RequestId': 'b76542bd-e40c-4255-bc8f-904d0e677a84',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Sun, 08 Jan 2023 05:21:18 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': 'b76542bd-e40c-4255-bc8f-904d0e677a84'},
  'RetryAttempts': 0}}

In [39]:
rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response)
rearc_usa_hospital_beds.head()

,x,y,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,...,cnty_fips,fips,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac
0,-112.066157,33.495498,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,...,13.0,4013.0,129.0,129.0,0,0,NaN,NaN,0.0,0
1,-110.965885,32.181263,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,...,19.0,4019.0,295.0,295.0,2,2,NaN,NaN,2.0,0
2,-119.779742,36.773324,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,...,19.0,6019.0,57.0,57.0,2,2,NaN,NaN,2.0,0
3,-72.957610,41.284400,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,...,9.0,9009.0,216.0,216.0,1,1,NaN,NaN,2.0,0
4,-75.606533,39.740206,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,...,3.0,10003.0,60.0,60.0,0,0,NaN,NaN,1.0,0

In [40]:
factCovid_1 = enigma_jhud[['fips', 'province_state',
                           'country_region', 'confirmed', 
                           'deaths', 'recovered', 'active']]

factCovid_1

,fips,province_state,country_region,confirmed,deaths,recovered,active
0,NaN,Anhui,China,1.0,NaN,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
222799,NaN,NaN,West Bank and Gaza,446.0,3.0,368.0,75.0
222800,NaN,NaN,Western Sahara,9.0,1.0,6.0,2.0
222801,NaN,NaN,Yemen,283.0,65.0,11.0,207.0
222802,NaN,NaN,Zambia,1057.0,7.0,779.0,271.0
222803,NaN,NaN,Zimbabwe,149.0,4.0,28.0,117.0

In [41]:
factCovid_2 = covid_19_testing_data_states_daily[[
    'fips', 'date', 'positive', 'negative', 'hospitalized', 
    'hospitalizedcurrently', 'hospitalizeddischarged']]

factCovid_2

,fips,date,positive,negative,hospitalized,hospitalizedcurrently,hospitalizeddischarged
0,2.0,20210307,56886,NaN,1293.0,33.0,NaN
1,1.0,20210307,499819,1931711.0,45976.0,494.0,NaN
2,5.0,20210307,324818,2480716.0,14926.0,335.0,NaN
3,60.0,20210307,0,2140.0,NaN,NaN,NaN
4,4.0,20210307,826454,3073010.0,57907.0,963.0,118932.0
...,...,...,...,...,...,...,...
2680,49.0,20210119,326221,1385896.0,12645.0,638.0,NaN
2681,51.0,20210119,451076,NaN,20066.0,3173.0,35752.0
2682,78.0,20210119,2260,37119.0,NaN,NaN,NaN
2683,50.0,20210119,10321,280334.0,NaN,43.0,NaN
2684,NaN,20210119,289939,NaN,NaN,1066.0,NaN

In [42]:
factCovid = pd.merge(factCovid_1, factCovid_2, on='fips', how='inner')

factCovid

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalized,hospitalizedcurrently,hospitalizeddischarged
0,NaN,Anhui,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,NaN,1066.0,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN,20210119,289939,NaN,NaN,1066.0,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN,20210119,289939,NaN,NaN,1066.0,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,NaN,1066.0,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN,20210119,289939,NaN,NaN,1066.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27987,72.0,Puerto Rico,US,3647.0,132.0,0.0,3515.0,20210123,90073,305972.0,NaN,325.0,NaN
27988,72.0,Puerto Rico,US,3647.0,132.0,0.0,3515.0,20210122,89282,305972.0,NaN,341.0,NaN
27989,72.0,Puerto Rico,US,3647.0,132.0,0.0,3515.0,20210121,88728,305972.0,NaN,344.0,NaN
27990,72.0,Puerto Rico,US,3647.0,132.0,0.0,3515.0,20210120,88513,305972.0,NaN,331.0,NaN
27991,72.0,Puerto Rico,US,3647.0,132.0,0.0,3515.0,20210119,88373,305972.0,NaN,351.0,NaN

In [43]:
dimRegion_1 = enigma_jhud[['fips', 'province_state',
                           'country_region', 'latitude', 'longitude']]
dimRegion_2 = nytimes_data_in_usa_us_county[['fips', 'county', 'state']]

dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')
dimRegion

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,Unknown,Missouri
1,NaN,Anhui,China,31.826,117.226,Unknown,Nevada
2,NaN,Anhui,China,31.826,117.226,Unknown,New Jersey
3,NaN,Anhui,China,31.826,117.226,New York City,New York
4,NaN,Anhui,China,31.826,117.226,Unknown,Puerto Rico
...,...,...,...,...,...,...,...
11752269,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
11752270,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
11752271,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
11752272,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
11752273,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming

In [46]:
dimHospital = rearc_usa_hospital_beds[['fips', 'state_name', 'x', 'y',
                                 'hq_address', 'hospital_name', 'hospital_type', 'hq_city', 'hq_state']]

dimHospital

,fips,state_name,x,y,hq_address,hospital_name,hospital_type,hq_city,hq_state
0,4013.0,Arizona,-112.066157,33.495498,650 E Indian School Rd,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,Phoenix,AZ
1,4019.0,Arizona,-110.965885,32.181263,3601 S 6th Ave,Southern Arizona VA Health Care System,VA Hospital,Tucson,AZ
2,6019.0,California,-119.779742,36.773324,2615 E Clinton Ave,VA Central California Health Care System,VA Hospital,Fresno,CA
3,9009.0,Connecticut,-72.957610,41.284400,950 Campbell Ave,VA Connecticut Healthcare System - West Haven ...,VA Hospital,West Haven,CT
4,10003.0,Delaware,-75.606533,39.740206,1601 Kirkwood Hwy,Wilmington VA Medical Center,VA Hospital,Wilmington,DE
...,...,...,...,...,...,...,...,...,...
6632,19103.0,Iowa,-91.575728,41.681410,2450 Coral Ct,University of Iowa Health Network Rehabilitati...,Rehabilitation Hospital,Coralville,IA
6633,4019.0,Arizona,-110.984489,31.955757,16260 S Rancho Sahuarita Blvd,Northwest Medical Center Sahuarita,Short Term Acute Care Hospital,Sahuarita,AZ
6634,48201.0,Texas,-95.404182,29.803581,1917 Ashland St,The Heights Hospital,Short Term Acute Care Hospital,Houston,TX
6635,18019.0,Indiana,-85.765610,38.329353,2101 Broadway St,Cobalt Rehabilitation Hospital Clarksville,Rehabilitation Hospital,Clarksville,IN
6636,55085.0,Wisconsin,-89.708786,45.890217,9576 WI-70,Marshfield Medical Center - Minocqua,Short Term Acute Care Hospital,Minocqua,WI

In [45]:
dimDate = covid_19_testing_data_states_daily[['fips', 'date']]

dimDate

      fips      date
0      2.0  20210307
1      1.0  20210307
2      5.0  20210307
3     60.0  20210307
4      4.0  20210307
...    ...       ...
2680  49.0  20210119
2681  51.0  20210119
2682  78.0  20210119
2683  50.0  20210119
2684   NaN  20210119

[2685 rows x 2 columns]

In [47]:
dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

dimDate.head()

C:\Users\BK\AppData\Local\Temp/ipykernel_27176/3205308124.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')

   fips       date
0   2.0 2021-03-07
1   1.0 2021-03-07
2   5.0 2021-03-07
3  60.0 2021-03-07
4   4.0 2021-03-07

In [48]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

dimDate.head()

C:\Users\BK\AppData\Local\Temp/ipykernel_27176/4032616621.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
C:\Users\BK\AppData\Local\Temp/ipykernel_27176/4032616621.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
C:\Users\BK\AppData\Local\Temp/ipykernel_27176/4032616621.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

In [49]:
bucket = 'bdms-project-covid-19'  # already created on s3

In [50]:
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)

In [52]:
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'QRMX5MHXFHCBC08Q',
  'HostId': 'IZfRA0W/6rhbwYz4zBMTn68tqrbPeZAGmSf3T7AJ6XPGlb/mPmX9ZqjvgimAQC8qhS78MrMBUE4=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'IZfRA0W/6rhbwYz4zBMTn68tqrbPeZAGmSf3T7AJ6XPGlb/mPmX9ZqjvgimAQC8qhS78MrMBUE4=',
   'x-amz-request-id': 'QRMX5MHXFHCBC08Q',
   'date': 'Sun, 08 Jan 2023 05:30:06 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"60b5e3a19039d6de3c31c1ed794b0e7c"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"60b5e3a19039d6de3c31c1ed794b0e7c"',
 'ServerSideEncryption': 'AES256'}

In [54]:
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)

In [55]:
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimRegion.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'Q9QRDG55BS94NXZJ',
  'HostId': 'TQN6vLrqZ8srLFNcywmJE/CYgynuXlV7Cw1L8Y/pFXjMPToxbXqmj8oIgYW516MjqqkJ9DjkeAw=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'TQN6vLrqZ8srLFNcywmJE/CYgynuXlV7Cw1L8Y/pFXjMPToxbXqmj8oIgYW516MjqqkJ9DjkeAw=',
   'x-amz-request-id': 'Q9QRDG55BS94NXZJ',
   'date': 'Sun, 08 Jan 2023 05:34:33 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"60b5e3a19039d6de3c31c1ed794b0e7c"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"60b5e3a19039d6de3c31c1ed794b0e7c"',
 'ServerSideEncryption': 'AES256'}

In [56]:
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)

In [57]:
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimHospital.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'XM6GVXVN62BBQA8H',
  'HostId': 'Qi2AuEWfn9LhTyYeqeckwUYultC3kn/TaWg3q7TYCsz6ErzI27AtStUiZmfnCUJuryr/B6jcDKc=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Qi2AuEWfn9LhTyYeqeckwUYultC3kn/TaWg3q7TYCsz6ErzI27AtStUiZmfnCUJuryr/B6jcDKc=',
   'x-amz-request-id': 'XM6GVXVN62BBQA8H',
   'date': 'Sun, 08 Jan 2023 05:34:44 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"60b5e3a19039d6de3c31c1ed794b0e7c"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"60b5e3a19039d6de3c31c1ed794b0e7c"',
 'ServerSideEncryption': 'AES256'}

In [58]:
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)

In [59]:
s3_resource = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY,
                             aws_secret_access_key=AWS_SECRET_KEY,
                             region_name=AWS_REGION, )
s3_resource.Object(
    bucket, 'output/dimDate.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'BY0BE9K8F6SB9ZAY',
  'HostId': 'EShn/4Bh04GWBLXpbx8YH7DOERiwXwychXdZgYlAWERJy1MevorouFOxZunwAbVF4bQMHJUrwLM=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'EShn/4Bh04GWBLXpbx8YH7DOERiwXwychXdZgYlAWERJy1MevorouFOxZunwAbVF4bQMHJUrwLM=',
   'x-amz-request-id': 'BY0BE9K8F6SB9ZAY',
   'date': 'Sun, 08 Jan 2023 05:34:49 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"60b5e3a19039d6de3c31c1ed794b0e7c"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"60b5e3a19039d6de3c31c1ed794b0e7c"',
 'ServerSideEncryption': 'AES256'}

In [60]:
# Extract the schema
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [61]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalized" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalizeddischarged" REAL
)

In [62]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [63]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "x" REAL,
  "y" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [99]:
conn = redshift_connector.connect(
    host='redshift-cluster-3.ccz1uwg9ell0.ap-south-1.redshift.amazonaws.com',
    database='dev',
    user='awsuser',
    password='Karthi1818'
)

In [100]:
conn.autocommit = True

In [101]:
cursor = redshift_connector.Cursor = conn.cursor()

In [102]:
cursor.execute(""" 
CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)
""")

In [103]:
cursor.execute(""" 
CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalized" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalizeddischarged" REAL
)

In [104]:
cursor.execute("""
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)
""")

In [105]:
cursor.execute("""
CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

In [1]:
cursor.execute("""
copy dimDate from 's3://bdms-project-output/output/dimDate.csv'
credentials 'aws_iam_role=arn:aws:iam::490101006133:role/Redshift_S3_FullAccess'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [2]:
cursor.execute("""
copy factCovid from 's3://bdms-project-output/output/factCovid.csv'
credentials 'aws_iam_role=arn:aws:iam::490101006133:role/Redshift_S3_FullAccess'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [3]:
cursor.execute("""
copy dimRegion from 's3://bdms-project-output/output/dimRegion.csv'
credentials 'aws_iam_role=arn:aws:iam::490101006133:role/Redshift_S3_FullAccess'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [4]:
cursor.execute("""
copy dimHospital from 's3://bdms-project-output/output/dimHospital.csv'
credentials 'aws_iam_role=arn:aws:iam::490101006133:role/Redshift_S3_FullAccess'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")